@font-face{
    font-family:'reg';
    src:url('reg.woff2');
}

*{
    font-family:'reg',  Arial,  sans-serif;
    outline:none;
    max-width: 100%;
}
a {
        text-decoration: none;
    color: #0066c0
    }
header img{
    width: 81px;
}
body{
    text-align: center;
}
 .header{
  margin-top:9px;
     border-radius:7px;
    display:inline-block;
    padding:20px;
    box-shadow:0 0 1px #d1d1d1;
    border:1px solid #f0eded;
  
    
 }
.email{
    text-align:left;
}
.title{
    font-size: 25px;
text-align:left;
    
   
   
}
.text{
    text-align: left;
}
input{
    
    border:1px solid #d2c8c8e8;
    padding:8px;
    font-size:0.78em;
    width:250px;
    border-radius:4px;   }

    button{
        border-radius: 8px;
        background-color: rgb(255 216 20);
        width:270px;
        padding:7px;
        color:#111010;
        border:1px solid #dfc95c;
        
    }
    .text1{
        
        font-size: 11px;
        text-align: left;
    }
    .text2{
        font-size: 12px;
        text-align: left;
    }

.link{
    display:flex;
    align-items:center;
    text-align:left;
}

.link img{
    width:7px;
    margin-right:6px;
}
.styl{
     margin-bottom:20px;
     border:1px solid #100f0f12;
    margin-top:21px;
   }
.texto{
    font-size:13px;
    text-align:left;
}
.texto1{
    font-size:12px;
    text-align:left;
     margin-top:9px;
}
.aria{
    color: #767676;
    font-size:14px;
}
.paso{
    display:flex;
    margin-top:15px
}
.paso input{
    width:20px;
}
label{
    display:block;
    
}
.paso label{
    font-size:14px;
}
.la{
      border:1px solid #9e9e9e3b;
    margin-top:2px;
    margin-top:21px;
}
.z{
    margin-top:21px;
    font-size:11px;
}
.sms{
    margin-bottom:22px ;
}

b{
    font-size:0.78em;
}

.last button{
    border:1px solid #dddddd;
}